<link rel="stylesheet" href="./sly/css/app/widgets/sidebar/style.css" />

<sly-sidebar :options="{{{widget._options}}}">
  <div slot="sidebar">
    <el-menu
      mode="vertical"
      :default-active="state.{{{widget.widget_id}}}.menuIndex"
      class="el-menu-vertical-demo"
    >
      {% for group in widget._groups %}
      <el-menu-item-group title="{{{group.title}}}">
        {% for item in group.items %}
        <el-menu-item
          index="{{{item.index}}}"
          @click="state.{{{widget.widget_id}}}.menuIndex = '{{{item.index}}}'"
        >
          <i class="zmdi zmdi-bike" style="margin-right: 5px"></i>
          {{{item.title}}}
        </el-menu-item>
        {% endfor %}
      </el-menu-item-group>
      {% endfor %} {% for item in widget._items %}
      <el-menu-item
        index="{{{item.index}}}"
        @click="state.{{{widget.widget_id}}}.menuIndex = '{{{item.index}}}'"
      >
        <i class="zmdi zmdi-bike" style="margin-right: 5px"></i>
        {{{item.title}}}
      </el-menu-item>
      {% endfor %}
    </el-menu>
  </div>
  <div>
    {% for group in widget._groups %} {% for item in group.items %}
    <div v-if="state.{{{widget.widget_id}}}.menuIndex === '{{{item.title}}}'">
      {{{item.content}}}
    </div>
    {% endfor %} {% endfor %} {% for item in widget._items %}
    <div v-if="state.{{{widget.widget_id}}}.menuIndex === '{{{item.title}}}'">
      {{{item.content}}}
    </div>
    {% endfor %}
  </div>
</sly-sidebar>

<!-- <sly-sidebar :options="{{{widget._options}}}">
  <div slot="sidebar">
    <el-menu
      mode="vertical"
      :default-active="state.{{{widget.widget_id}}}.menuIndex"
      class="el-menu-vertical-demo"
    >
      <el-menu-item-group
        v-for="group in data.{{{widget.widget_id}}}.groups"
        :title="group.title"
      >
        <el-menu-item
          v-for="item in group.items"
          :index="item.index"
          @click="state.{{{widget.widget_id}}}.menuIndex = item.index"
        >
          <i class="zmdi zmdi-bike" style="margin-right: 5px"></i>{{item.title}}
        </el-menu-item>
      </el-menu-item-group>
    </el-menu>
  </div>
  <div>
    <div v-if="state.menuIndex === '1'">{{{widget._right_pane}}}</div>
    <div v-if="state.menuIndex === '2'">222</div>
    <div v-if="state.menuIndex === '3'">333</div>
    <div v-if="state.menuIndex === '4'">444</div>
  </div>
</sly-sidebar> -->
