.idea
*.pyc
*.pyo
.ipynb_checkpoints
.ipynb_checkpoints/
**/__pycache__
*.egg-info

tasks_data/*
!tasks_data/.gitkeep


**/params.local.sh
*/_account_private_registry.sh
run_plugin_max.sh
Dockerfile_remote
remote.sh
._.DS_Store
*._*
*.DS_Store
*._remote.sh
*._Dockerfile
*delme.json
/plugins.txt
*.pth
docs/_build
*log_*.txt
docs/_build/*

internal/tests/flt_format_insurance/*
*/internal/*
/help/tutorials/internal/07_nn_integration_options_explaned/07_nn_integration_options_explained.md
plugins/python/src/internal
help/tutorials/internal
plugins/python/src/quantigo_retail

ecosystem/sys_apps/*
!ecosystem/sys_apps/init.sh
ecosystem/reports/*
!ecosystem/reports/init.sh
ecosystem/apps/*
!ecosystem/apps/init.sh
ecosystem/projects/*
!ecosystem/projects/init.sh
ecosystem/import/*
!ecosystem/import/init.sh
.venv
.idea
