## About Live Training

{{ live_training_description | safe }}

---
## Training Results

{{ widgets.training_plot | safe }}

## Checkpoints

[📂 Open in Team Files]({{ session.artifacts_url }}){:target="_blank"}

<details>
    <summary>📋 Checkpoints</summary>

{% if widgets.tables.checkpoints %}
{{ widgets.tables.checkpoints | safe }}
{% else %}
No checkpoints available.
{% endif %}

</details>

<h2 id="classes">Classes</h2>
<details>
    <summary>📝 Classes</summary>
    
    <p>The model can predict {{ model.num_classes }} classes.</p>
    
    <table class="table">
        <thead>
            <tr>
                <th>Class Name</th>
            </tr>
        </thead>
        <tbody>
            {% for class_name in model.classes %}
            <tr>
                <td>{{ class_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</details>



{# ## Hyperparameters

{% if hyperparameters %}
| Parameter | Value |
|-----------|-------|
{% for key, value in hyperparameters.items() %}
| {{ key }} | {{ value }} |
{% endfor %}
{% else %}
No hyperparameters available.
{% endif %}

## Configuration

**Config file:** `{{ model.config_file }}` #}