<div class="experiment-body">
    <sly-style>
    {% include "sly-style.css" %}
    </sly-style>

    <div class="experiment-main-wrapper">
        <div class="experiment-main-content">
        {% include "header.html.jinja" %}
            <div class="main-content markdown-body"> 
                {% markdown %}
                {% include "live_training.html.jinja" %}
                {% endmarkdown %}
            </div>
        </div>
    </div>
</div>