table.autosummary {
    width: 100% !important;
    min-width: 100% !important;
    margin: 0 !important;
    display: table !important;
}

table.autosummary + table.autosummary {
    margin-top: 0 !important;
}

.md-typeset table.autosummary {
    width: 100% !important;
    min-width: 100% !important;
    margin: 0 !important;
    display: table !important;
}