<link rel="stylesheet" href="./sly/css/app/widgets/custom_models_selector/style.css"/>

<div
    {% if widget._changes_handled == true %}
    @change="post('/{{{widget.widget_id}}}/value_changed')"
    {% endif %}
    >

    <div v-if="Object.keys(data.{{{widget.widget_id}}}.rowsHtml).length === 0"> You don't have any evaluation reports</div>
    <div v-else>

        <div v-if="data.{{{widget.widget_id}}}.projectIds.length > 1">
            <sly-field
            title="Select Project"
            >
            <el-select :value="state.{{{widget.widget_id}}}.selectedProjectId" placeholder="Select project"
            
            {% if widget._project_changes_handled == true %}
                @input="(evt) => {state.{{{widget.widget_id}}}.selectedProjectId = evt; state.{{{widget.widget_id}}}.selectedRows = []; post('/{{{widget.widget_id}}}/project_changed')}"
            {% else %}
                @input="(evt) => {state.{{{widget.widget_id}}}.selectedProjectId = evt; state.{{{widget.widget_id}}}.selectedRows = [];}"
            {% endif %}
            >
                <el-option
                  v-for="(item, idx) in {{{widget._project_ids}}}"
                  :key="item"
                  :label="item"
                  :value="item">
                  {{ item }}
                </el-option>
            </el-select>
        </sly-field>
</div>

{{state.{{{widget.widget_id}}}.selectedRows}}

<div>       
    <table class="custom-models-selector-table">
        <thead>
        <tr>
            <th v-for="(col, idx) in data.{{{widget.widget_id}}}.columns">
                <el-checkbox
                style="display: flex; justify-content: center"
                v-if="idx === 0"
                :value="state.{{{widget.widget_id}}}.selectedRows.length === data.{{{widget.widget_id}}}.rowsHtml[state.{{{widget.widget_id}}}.selectedProjectId].length"
                @input="(evt) => {state.{{{widget.widget_id}}}.selectedRows = state.{{{widget.widget_id}}}.selectedRows.length === data.{{{widget.widget_id}}}.rowsHtml[state.{{{widget.widget_id}}}.selectedProjectId].length ? [] : data.{{{widget.widget_id}}}.rowsHtml[state.{{{widget.widget_id}}}.selectedProjectId].map((r, midx) => midx); post('/{{{widget.widget_id}}}/select_all')}"
                ></el-checkbox>
                <div v-else> {{col}} </div>
            </th>
        </tr> 
        </thead>
        <tbody>
        <tr v-for="row, ridx in data.{{{widget.widget_id}}}.rowsHtml[state.{{{widget.widget_id}}}.selectedProjectId]">
            <template v-for="col, vidx in row">
            <td v-if="vidx === 0">
                <el-checkbox
                    style="display: flex; justify-content: center"
                    v-model="state.{{{widget.widget_id}}}.selectedRows"
                    :label="ridx"
                    >&#8205;</el-checkbox>
            </td>
            
            <td>
                <div>
                    <sly-html-compiler :params="{ridx: ridx, vidx: vidx}" :template="col" :data="data" :state="state">
                    </sly-html-compiler>

                </div>
            </td>
        </template>
        </tr>
        </tbody>
    </table>
</div>
</div>
</div>
