<!-- <link rel="stylesheet" href="./sly/css/app/widgets/button/style.css" /> -->
{%
if widget._link is not none
%}
<a :href="data.{{{widget.widget_id}}}.link" target="_blank">
{%
endif  
%}

<el-button
  {% if widget._visible_by_vue_field %}
    v-show="{{{widget._visible_by_vue_field}}}"
  {% endif %}
  :type="data.{{{widget.widget_id}}}.button_type"
  :plain="data.{{{widget.widget_id}}}.plain"
  :loading="data.{{{widget.widget_id}}}.loading"
  :size="data.{{{widget.widget_id}}}.button_size"
  :disabled="data.{{{widget.widget_id}}}.disabled"
  {% if widget._get_on_click() %}
  @click="{{{widget._get_on_click()}}}"
  {% endif %}
  {% if widget._style %}
  :style="data.{{{widget.widget_id}}}.style"
  {% endif %}
>
  <span v-html="data.{{{widget.widget_id}}}.icon"></span>
  <span v-html="data.{{{widget.widget_id}}}.text"></span>
</el-button>
{%
if widget._link is not none
%}
<a href="" target="_blank">
{%
endif  
%}
