.sly-flow-diagram {
  background-color: #f8f9fa;
  border-radius: 5px;
  border: 1px solid #e9ecef;
  overflow: hidden;
}

.sly-flow-node {
  background-color: white;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12);
  min-width: 150px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}
