.sly-flow-diagram {
  border-radius: 5px;
  border: 1px solid #e9ecef;
  overflow: hidden;
}

.sly-flow-node {
  border-radius: 5px;
  min-width: 150px;
  display: flex;
  background-color: #fff;
}

.sly-flow-node-button {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 3px;
  justify-content: flex-end;
}
