<link rel="stylesheet" href="./sly/css/app/widgets/flow_diagram/style.css" />
<div>
    <div :style="{height: data.{{{widget.widget_id}}}.height, width: data.{{{widget.widget_id}}}.width, position: 'relative'}"
        class="sly-flow-diagram">
        <div class="sly-flow-nodes">
            {% for node in widget._nodes %}
            <div id="{{{node.key}}}" {% if node.show_border %} class="sly-flow-node sly-flow-node-border" {% else %}
                class="sly-flow-node" {% endif %} style="left: {{{node.x}}}px; top: {{{node.y}}}px; {{{
        node.width}}} {{{node.height}}}">
                <div class="sly-flow-node-content">{{{node.content}}}</div>
                {% if node.buttons %}
                <div class="sly-flow-node-button">
                    {% for button in node.buttons %}
                    {{{button}}}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    <div>
        <sly-flow-diagram :connections="data.{{{widget.widget_id}}}.connections"></sly-flow-diagram>
    </div>
</div>
