.trained-models-selector-table {
  border-collapse: collapse;
}
.trained-models-selector-table tr:nth-child(2n) {
  background-color: #f6f8fa;
}
.trained-models-selector-table td,
.trained-models-selector-table th {
  border: 1px solid #dfe2e5;
  padding: 6px 13px;
  text-align: center;
  line-height: 20px;
}

.trained-models-selector-table td {
  text-align: left;
}

.trained-models-selector-table tr td:nth-child(4) {
  text-align: center;
}

