<sly-style>
  <!-- <style> -->
  .notification-box { background-color: lightgray; padding: 10px; border-radius:
  6px; display: flex; align-items: center; } .notification-box-warning {
  background-color: #fcf8e3; border: 1px solid #faebcc; border-left: 4px solid
  #cd9c38; } .notification-box-icon { font-size: 20px; margin-right: 10px; }
  .notification-box-warning .notification-box-icon { color: #cd9c38; }
  .notification-box-title { font-size: 14px; font-weight: bold; }
  <!-- </style> -->
</sly-style>

<div class="notification-box notification-box-{{{widget.box_type}}}">
  <i class="notification-box-icon zmdi {{{widget.icon}}}"></i>

  <div>
    <div
      v-if="data.{{{widget.widget_id}}}.title"
      class="notification-box-title"
      v-html="data.{{{widget.widget_id}}}.title"
    ></div>
    <div
      v-if="data.{{{widget.widget_id}}}.description"
      v-html="data.{{{widget.widget_id}}}.description"
    ></div>
  </div>
</div>
