<div>
  <div
    class="fflex mb15"
    style="justify-content: space-between; align-items: flex-start"
  >
    <div>
      <div>Pointer: {{ state.{{{widget.widget_id}}}.pointer }}</div>
      <div>Segment: {{ state.{{{widget.widget_id}}}.selectedSegment }}</div>
    </div>
    <el-input-number
      :min="0"
      :max="data.{{{widget.widget_id}}}.framesCount"
      v-model="state.{{{widget.widget_id}}}.pointer"
    />
  </div>

  <sly-timeline
    :framesCount="data.{{{widget.widget_id}}}.framesCount"
    :intervals="data.{{{widget.widget_id}}}.intervals"
    :colors="data.{{{widget.widget_id}}}.colors"
    :pointer.sync="state.{{{widget.widget_id}}}.pointer"
    :options="data.{{{widget.widget_id}}}.options"
    @segment-selected="val => state.{{{widget.widget_id}}}.selectedSegment = val"
  >
    <template slot-scope="{ activeInterval }">
      <span v-if="activeInterval">
        <div>Custom tooltip</div>
        <span
          >Interval: {{ activeInterval.interval[0] }} - {{
          activeInterval.interval[1] }}</span
        >
      </span>
    </template>
  </sly-timeline>
</div>
