<link rel="stylesheet" href="./sly/css/app/widgets/solutions_card/style.css" />
<div class="solutions-node icon-node" :style="{width: data.{{{widget.widget_id}}}.width}">
    {% if widget._show_badges == true %}
    <div class="node-badges-row">
        <div v-for="item in state.{{{widget.widget_id}}}.badges">
            <div v-if="item.badge_type == 'success'" class="node-badge badge-success">
                <div class="badge-label">
                    <div class="mr5">{{item.on_hover}}</div>
                </div>

                <div class="badge-counter">{{item.label}}</div>
            </div>
            <div v-if="item.badge_type == 'info'" class="node-badge badge-info">
                <div class="badge-label">
                    <div class="mr5">{{item.on_hover}}</div>
                </div>

                <div class="badge-counter">{{item.label}}</div>
            </div>
            <div v-if="item.badge_type == 'warning'" class="node-badge badge-warning">
                <div class="badge-label">
                    <div class="mr5">{{item.on_hover}}</div>
                </div>

                <div class="badge-counter">{{item.label}}</div>
            </div>
            <div v-if="item.badge_type == 'error'" class="node-badge badge-error">
                <div class="badge-label">
                    <div class="mr5">{{item.on_hover}}</div>
                </div>

                <div class="badge-counter">{{item.label}}</div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="node-content" v-if="data.{{{widget.widget_id}}}.title !== null">
        <div class="icon"></div>
        <div class="node-title" v-html="data.{{{widget.widget_id}}}.title"></div>
    </div>

    {% if widget._show_tooltip == true %}
    <div class="node-tooltip-wrapper">
        <div class="node-tooltip">
            <div class="node-section description-section" v-if="state.{{{widget.widget_id}}}.tooltip_description">
                {{state.{{{widget.widget_id}}}.tooltip_description}}
            </div>

            <div class="node-section info-section" v-if="state.{{{widget.widget_id}}}.tooltip_properties">
                <div class="info-section-row" v-for="item in state.{{{widget.widget_id}}}.tooltip_properties">
                    <div class="info-section-row-label fw500">{{item.key}}:</div>

                    <div v-if="item.highlight" class="info-section-row-value fw500 badge">
                        <a v-if="item.is_link" class="default-link" :href="item.value"
                            target="_blank">{{item.value}}</a>
                        <div v-if="!item.is_link">{{item.value}}</div>
                    </div>
                    <div v-if="!item.highlight" class="info-section-row-value fw500">
                        <a v-if="item.is_link" class="default-link" :href="item.value"
                            target="_blank">{{item.value}}</a>
                        <div v-if="!item.is_link">{{item.value}}</div>
                    </div>
                </div>
            </div>

            {% if widget._tooltip._content %}
            <div class="node-section actions-section">
                {% for item in widget._tooltip._content %}
                <div class="actions-section-row fflex">{{{item}}}</div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>
