# https://hub.docker.com/r/supervisely/base-py
name: Manual Build base-py Docker

on:
  workflow_dispatch:
    inputs:
      tag_version:
        description: "Docker Image Tag (without 'v')"
        required: true
        default: ""

jobs:
  docker:
    runs-on: gha-runner-supervisely
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: false
          swap-storage: true
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          file: base_images/py/Dockerfile
          tags: supervisely/base-py:${{ github.event.inputs.tag_version }}