# https://hub.docker.com/r/supervisely/base-py
name: Manual Build base-py Docker

on:
  workflow_dispatch:
    inputs:
      tag_version:
        description: "Docker Image Tag (without 'v')"
        required: true
        default: ""

jobs:
  docker:
    runs-on: gha-runner-supervisely
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Build and Push Docker Image
        run: |
          buildctl build \
            --frontend dockerfile.v0 \
            --local context=${{ github.workspace }} \
            --local dockerfile=${{ github.workspace }}/base_images/py \
            --output type=image,name=docker.io/supervisely/base-py:${{ github.event.inputs.tag_version }},push=true \
            --export-cache type=registry,ref=docker.io/supervisely/base-py:buildcache,mode=max \
            --import-cache type=registry,ref=docker.io/supervisely/base-py:buildcache