# https://hub.docker.com/r/supervisely/base-py-sdk
name: Manual Build base-py-sdk Docker

on:
  workflow_dispatch:
    inputs:
      tag_version:
        description: "Docker Image Tag (without 'v')"
        required: true
        default: ""

jobs:
  deploy:
    runs-on: gha-runner-supervisely

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Build and Push Docker Image
        run: |
          buildctl build \
            --frontend dockerfile.v0 \
            --local context=${{ github.workspace }} \
            --local dockerfile=${{ github.workspace }}/base_images/py_sdk \
            --opt build-arg:tag_ref_name=${{ github.event.inputs.tag_version }} \
            --output type=image,name=docker.io/supervisely/base-py-sdk:${{ github.event.inputs.tag_version }},push=true \
            --export-cache type=registry,ref=docker.io/supervisely/base-py-sdk:buildcache,mode=max \
            --import-cache type=registry,ref=docker.io/supervisely/base-py-sdk:buildcache