# Will use the latest release tag as the version number
name: Manual Publish PyPI

on: workflow_dispatch


jobs:
  deploy:
    runs-on: gha-runner-supervisely
    environment:
      name: pypi
      url: https://pypi.org/p/supervisely
    permissions:
      id-token: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build

      - name: Build package
        run: python -m build
        
      - name: Install twine
        run: pip install twine

      - name: Publish package distributions to PyPI
        run: twine upload --skip-existing dist/*
