# Will use the latest release tag as the version number
name: Manual Publish PyPI

on: workflow_dispatch


jobs:
  deploy:
    runs-on: gha-runner-supervisely
    environment:
      name: pypi
      url: https://pypi.org/p/supervisely
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.8"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build

      - name: Build package
        run: python -m build
      - name: Publish package
        uses: pypa/gh-action-pypi-publish@release/v1
