name: Manual Build Nvidia Docker

on: workflow_dispatch

jobs:
  deploy-nvidia-sdk:
    runs-on: gha-runner-supervisely

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Write Tag to ENV variable
        run: echo "RELEASE_VERSION=${GITHUB_REF_NAME:1}" >> $GITHUB_ENV

      - name: Build and Push Docker Image sdk-nvidia-pyindex:${{ env.RELEASE_VERSION }}
        run: |
          buildctl build \
            --frontend dockerfile.v0 \
            --local context=${{ github.workspace }} \
            --local dockerfile=${{ github.workspace }}/base_images/sdk_nvidia_pyindex \
            --opt build-arg:tag_ref_name=${{ env.RELEASE_VERSION }} \
            --output type=image,name=docker.io/supervisely/sdk-nvidia-pyindex:${{ env.RELEASE_VERSION }},push=true \
            --export-cache type=registry,ref=docker.io/supervisely/sdk-nvidia-pyindex:buildcache,mode=max \
            --import-cache type=registry,ref=docker.io/supervisely/sdk-nvidia-pyindex:buildcache
      
      - name: Build and Push Docker Image sdk-nvidia-pyindex:latest
        run: |
          buildctl build \
            --frontend dockerfile.v0 \
            --local context=${{ github.workspace }} \
            --local dockerfile=${{ github.workspace }}/base_images/sdk_nvidia_pyindex \
            --opt build-arg:tag_ref_name=${{ env.RELEASE_VERSION }} \
            --output type=image,name=docker.io/supervisely/sdk-nvidia-pyindex:latest,push=true \
            --import-cache type=registry,ref=docker.io/supervisely/sdk-nvidia-pyindex:buildcache