name: Manual Publish PyPI, Build & Push Docker Images

on:
  workflow_dispatch:
    inputs:
      tag_version:
        description: "Docker Image Tag (without 'v')"
        required: true
        type: string

env:
  REGISTRY: docker.io
  ORG: supervisely

jobs:
  publish-pypi:
    name: Publish PyPI
    runs-on: gha-runner-supervisely
    environment:
      name: pypi
      url: https://pypi.org/p/supervisely
    permissions:
      id-token: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - name: Install build deps
        run: |
          python -m pip install --upgrade pip
          pip install build
      - name: Build sdist / wheel
        run: python -m build
      - name: Install twine
        run: pip install twine
      - name: Publish package distributions to PyPI
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
        run: twine upload --skip-existing dist/*
      - name: Wait after PyPI publish
        run: |
          VERSION="${{ inputs.tag_version }}"
          PACKAGE="supervisely"
          RETRIES=60
          DELAY=5
          for i in $(seq 1 $RETRIES); do
            RESPONSE=$(curl -s "https://pypi.org/pypi/$PACKAGE/json" | jq -r ".releases[\"$VERSION\"]")
            if [ "$RESPONSE" != "null" ]; then
              echo "Found version $VERSION on PyPI!"
              exit 0
            else
              echo "Version $VERSION not found. Retrying in $DELAY seconds..."
              sleep $DELAY
            fi
          done
          echo "Timeout waiting for version $VERSION on PyPI"
          exit 1

  base-py-sdk:
    name: Build base-py-sdk
    needs: publish-pypi
    runs-on: gha-runner-supervisely
    env:
      RELEASE_VERSION: ${{ inputs.tag_version }}
      IMAGE_NAME: base-py-sdk
      DOCKERFILE_PATH: base_images/py_sdk
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Check tag exists
        id: tag_check
        run: |
          if docker manifest inspect "${REGISTRY}/${ORG}/${IMAGE_NAME}:${RELEASE_VERSION}" >/dev/null 2>&1; then
            echo "exists=true" >> "$GITHUB_OUTPUT"
          else
            echo "exists=false" >> "$GITHUB_OUTPUT"
          fi

      - name: Build and Push ${{ env.IMAGE_NAME }}
        if: steps.tag_check.outputs.exists == 'false'
        run: |
          buildctl build \
            --frontend dockerfile.v0 \
            --local context=${{ github.workspace }} \
            --local dockerfile=${{ github.workspace }}/${{ env.DOCKERFILE_PATH }} \
            --opt build-arg:tag_ref_name=${{ env.RELEASE_VERSION }} \
            --output type=image,name=${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.IMAGE_NAME }}:${{ env.RELEASE_VERSION }},name=${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.IMAGE_NAME }}:latest,push=true \
            --export-cache type=registry,ref=${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.IMAGE_NAME }}:buildcache,mode=max \
            --import-cache type=registry,ref=${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.IMAGE_NAME }}:buildcache
      - name: Skip Notifification
        if: steps.tag_check.outputs.exists == 'true'
        run: echo "Image $IMAGE_NAME:$RELEASE_VERSION already exists - skipping build."

  collaboration:
    name: Build collaboration
    needs: base-py-sdk
    runs-on: gha-runner-supervisely
    env:
      RELEASE_VERSION: ${{ inputs.tag_version }}
      IMAGE_NAME: collaboration
      DOCKERFILE_PATH: docker_images/collaboration
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Check tag exists
        id: tag_check
        run: |
          if docker manifest inspect "${REGISTRY}/${ORG}/${IMAGE_NAME}:${RELEASE_VERSION}" >/dev/null 2>&1; then
            echo "exists=true" >> "$GITHUB_OUTPUT"
          else
            echo "exists=false" >> "$GITHUB_OUTPUT"
          fi

      - name: Build and Push ${{ env.IMAGE_NAME }}
        run: |
          buildctl build \
            --frontend dockerfile.v0 \
            --local context=${{ github.workspace }} \
            --local dockerfile=${{ github.workspace }}/${{ env.DOCKERFILE_PATH }} \
            --opt build-arg:tag_ref_name=${{ env.RELEASE_VERSION }} \
            --output type=image,name=${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.IMAGE_NAME }}:${{ env.RELEASE_VERSION }},name=${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.IMAGE_NAME }}:latest,push=true \
            --export-cache type=registry,ref=${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.IMAGE_NAME }}:buildcache,mode=max \
            --import-cache type=registry,ref=${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.IMAGE_NAME }}:buildcache
      - name: Skip Notifification
        if: steps.tag_check.outputs.exists == 'true'
        run: echo "Image $IMAGE_NAME:$RELEASE_VERSION already exists - skipping build."

  data-operations:
    name: Build data-operations
    needs: base-py-sdk
    runs-on: gha-runner-supervisely
    env:
      RELEASE_VERSION: ${{ inputs.tag_version }}
      IMAGE_NAME: data-operations
      DOCKERFILE_PATH: docker_images/data_operations
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Check tag exists
        id: tag_check
        run: |
          if docker manifest inspect "${REGISTRY}/${ORG}/${IMAGE_NAME}:${RELEASE_VERSION}" >/dev/null 2>&1; then
            echo "exists=true" >> "$GITHUB_OUTPUT"
          else
            echo "exists=false" >> "$GITHUB_OUTPUT"
          fi

      - name: Build and Push ${{ env.IMAGE_NAME }}
        run: |
          buildctl build \
            --frontend dockerfile.v0 \
            --local context=${{ github.workspace }} \
            --local dockerfile=${{ github.workspace }}/${{ env.DOCKERFILE_PATH }} \
            --opt build-arg:tag_ref_name=${{ env.RELEASE_VERSION }} \
            --output type=image,name=${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.IMAGE_NAME }}:${{ env.RELEASE_VERSION }},name=${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.IMAGE_NAME }}:latest,push=true \
            --export-cache type=registry,ref=${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.IMAGE_NAME }}:buildcache,mode=max \
            --import-cache type=registry,ref=${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.IMAGE_NAME }}:buildcache
      - name: Skip Notifification
        if: steps.tag_check.outputs.exists == 'true'
        run: echo "Image $IMAGE_NAME:$RELEASE_VERSION already exists - skipping build."

  development:
    name: Build development
    needs: base-py-sdk
    runs-on: gha-runner-supervisely
    env:
      RELEASE_VERSION: ${{ inputs.tag_version }}
      IMAGE_NAME: development
      DOCKERFILE_PATH: docker_images/development
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Check tag exists
        id: tag_check
        run: |
          if docker manifest inspect "${REGISTRY}/${ORG}/${IMAGE_NAME}:${RELEASE_VERSION}" >/dev/null 2>&1; then
            echo "exists=true" >> "$GITHUB_OUTPUT"
          else
            echo "exists=false" >> "$GITHUB_OUTPUT"
          fi

      - name: Build and Push ${{ env.IMAGE_NAME }}
        run: |
          buildctl build \
            --frontend dockerfile.v0 \
            --local context=${{ github.workspace }} \
            --local dockerfile=${{ github.workspace }}/${{ env.DOCKERFILE_PATH }} \
            --opt build-arg:tag_ref_name=${{ env.RELEASE_VERSION }} \
            --output type=image,name=${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.IMAGE_NAME }}:${{ env.RELEASE_VERSION }},name=${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.IMAGE_NAME }}:latest,push=true \
            --export-cache type=registry,ref=${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.IMAGE_NAME }}:buildcache,mode=max \
            --import-cache type=registry,ref=${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.IMAGE_NAME }}:buildcache
      - name: Skip Notifification
        if: steps.tag_check.outputs.exists == 'true'
        run: echo "Image $IMAGE_NAME:$RELEASE_VERSION already exists - skipping build."

  import-export:
    name: Build import-export
    needs: base-py-sdk
    runs-on: gha-runner-supervisely
    env:
      RELEASE_VERSION: ${{ inputs.tag_version }}
      IMAGE_NAME: import-export
      DOCKERFILE_PATH: docker_images/import_export
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Check tag exists
        id: tag_check
        run: |
          if docker manifest inspect "${REGISTRY}/${ORG}/${IMAGE_NAME}:${RELEASE_VERSION}" >/dev/null 2>&1; then
            echo "exists=true" >> "$GITHUB_OUTPUT"
          else
            echo "exists=false" >> "$GITHUB_OUTPUT"
          fi

      - name: Build and Push ${{ env.IMAGE_NAME }}
        run: |
          buildctl build \
            --frontend dockerfile.v0 \
            --local context=${{ github.workspace }} \
            --local dockerfile=${{ github.workspace }}/${{ env.DOCKERFILE_PATH }} \
            --opt build-arg:tag_ref_name=${{ env.RELEASE_VERSION }} \
            --output type=image,name=${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.IMAGE_NAME }}:${{ env.RELEASE_VERSION }},name=${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.IMAGE_NAME }}:latest,push=true \
            --export-cache type=registry,ref=${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.IMAGE_NAME }}:buildcache,mode=max \
            --import-cache type=registry,ref=${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.IMAGE_NAME }}:buildcache
      - name: Skip Notifification
        if: steps.tag_check.outputs.exists == 'true'
        run: echo "Image $IMAGE_NAME:$RELEASE_VERSION already exists - skipping build."

  labeling:
    name: Build labeling
    needs: base-py-sdk
    runs-on: gha-runner-supervisely
    env:
      RELEASE_VERSION: ${{ inputs.tag_version }}
      IMAGE_NAME: labeling
      DOCKERFILE_PATH: docker_images/labeling
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Check tag exists
        id: tag_check
        run: |
          if docker manifest inspect "${REGISTRY}/${ORG}/${IMAGE_NAME}:${RELEASE_VERSION}" >/dev/null 2>&1; then
            echo "exists=true" >> "$GITHUB_OUTPUT"
          else
            echo "exists=false" >> "$GITHUB_OUTPUT"
          fi

      - name: Build and Push ${{ env.IMAGE_NAME }}
        run: |
          buildctl build \
            --frontend dockerfile.v0 \
            --local context=${{ github.workspace }} \
            --local dockerfile=${{ github.workspace }}/${{ env.DOCKERFILE_PATH }} \
            --opt build-arg:tag_ref_name=${{ env.RELEASE_VERSION }} \
            --output type=image,name=${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.IMAGE_NAME }}:${{ env.RELEASE_VERSION }},name=${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.IMAGE_NAME }}:latest,push=true \
            --export-cache type=registry,ref=${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.IMAGE_NAME }}:buildcache,mode=max \
            --import-cache type=registry,ref=${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.IMAGE_NAME }}:buildcache
      - name: Skip Notifification
        if: steps.tag_check.outputs.exists == 'true'
        run: echo "Image $IMAGE_NAME:$RELEASE_VERSION already exists - skipping build."

  synthetic:
    name: Build synthetic
    needs: base-py-sdk
    runs-on: gha-runner-supervisely
    env:
      RELEASE_VERSION: ${{ inputs.tag_version }}
      IMAGE_NAME: synthetic
      DOCKERFILE_PATH: docker_images/synthetic
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Check tag exists
        id: tag_check
        run: |
          if docker manifest inspect "${REGISTRY}/${ORG}/${IMAGE_NAME}:${RELEASE_VERSION}" >/dev/null 2>&1; then
            echo "exists=true" >> "$GITHUB_OUTPUT"
          else
            echo "exists=false" >> "$GITHUB_OUTPUT"
          fi

      - name: Build and Push ${{ env.IMAGE_NAME }}
        run: |
          buildctl build \
            --frontend dockerfile.v0 \
            --local context=${{ github.workspace }} \
            --local dockerfile=${{ github.workspace }}/${{ env.DOCKERFILE_PATH }} \
            --opt build-arg:tag_ref_name=${{ env.RELEASE_VERSION }} \
            --output type=image,name=${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.IMAGE_NAME }}:${{ env.RELEASE_VERSION }},name=${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.IMAGE_NAME }}:latest,push=true \
            --export-cache type=registry,ref=${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.IMAGE_NAME }}:buildcache,mode=max \
            --import-cache type=registry,ref=${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.IMAGE_NAME }}:buildcache
      - name: Skip Notifification
        if: steps.tag_check.outputs.exists == 'true'
        run: echo "Image $IMAGE_NAME:$RELEASE_VERSION already exists - skipping build."

  system:
    name: Build system
    needs: base-py-sdk
    runs-on: gha-runner-supervisely
    env:
      RELEASE_VERSION: ${{ inputs.tag_version }}
      IMAGE_NAME: system
      DOCKERFILE_PATH: docker_images/system
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Check tag exists
        id: tag_check
        run: |
          if docker manifest inspect "${REGISTRY}/${ORG}/${IMAGE_NAME}:${RELEASE_VERSION}" >/dev/null 2>&1; then
            echo "exists=true" >> "$GITHUB_OUTPUT"
          else
            echo "exists=false" >> "$GITHUB_OUTPUT"
          fi

      - name: Build and Push ${{ env.IMAGE_NAME }}
        run: |
          buildctl build \
            --frontend dockerfile.v0 \
            --local context=${{ github.workspace }} \
            --local dockerfile=${{ github.workspace }}/${{ env.DOCKERFILE_PATH }} \
            --opt build-arg:tag_ref_name=${{ env.RELEASE_VERSION }} \
            --output type=image,name=${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.IMAGE_NAME }}:${{ env.RELEASE_VERSION }},name=${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.IMAGE_NAME }}:latest,push=true \
            --export-cache type=registry,ref=${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.IMAGE_NAME }}:buildcache,mode=max \
            --import-cache type=registry,ref=${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.IMAGE_NAME }}:buildcache
      - name: Skip Notifification
        if: steps.tag_check.outputs.exists == 'true'
        run: echo "Image $IMAGE_NAME:$RELEASE_VERSION already exists - skipping build."

  visualization-stats:
    name: Build visualization-stats
    needs: base-py-sdk
    runs-on: gha-runner-supervisely
    env:
      RELEASE_VERSION: ${{ inputs.tag_version }}
      IMAGE_NAME: visualization-stats
      DOCKERFILE_PATH: docker_images/visualization_stats
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Check tag exists
        id: tag_check
        run: |
          if docker manifest inspect "${REGISTRY}/${ORG}/${IMAGE_NAME}:${RELEASE_VERSION}" >/dev/null 2>&1; then
            echo "exists=true" >> "$GITHUB_OUTPUT"
          else
            echo "exists=false" >> "$GITHUB_OUTPUT"
          fi

      - name: Build and Push ${{ env.IMAGE_NAME }}
        run: |
          buildctl build \
            --frontend dockerfile.v0 \
            --local context=${{ github.workspace }} \
            --local dockerfile=${{ github.workspace }}/${{ env.DOCKERFILE_PATH }} \
            --opt build-arg:tag_ref_name=${{ env.RELEASE_VERSION }} \
            --output type=image,name=${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.IMAGE_NAME }}:${{ env.RELEASE_VERSION }},name=${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.IMAGE_NAME }}:latest,push=true \
            --export-cache type=registry,ref=${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.IMAGE_NAME }}:buildcache,mode=max \
            --import-cache type=registry,ref=${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.IMAGE_NAME }}:buildcache
      - name: Skip Notifification
        if: steps.tag_check.outputs.exists == 'true'
        run: echo "Image $IMAGE_NAME:$RELEASE_VERSION already exists - skipping build."
