name: Manual Build Nvidia Docker

on: workflow_dispatch

jobs:
  deploy-nvidia-sdk:
    runs-on: gha-runner-supervisely

    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: false
          swap-storage: true
      - uses: actions/checkout@v4
      - name: Write Tag to ENV variable
        run: echo "RELEASE_VERSION=${GITHUB_REF_NAME:1}" >> $GITHUB_ENV

      - name: Build and Push Docker Image with NVIDIA
        uses: mr-smithers-excellent/docker-build-push@v6
        with:
          image: supervisely/sdk-nvidia-pyindex
          tags: ${{ env.RELEASE_VERSION }}, latest
          addLatest: true
          dockerfile: "base_images/sdk_nvidia_pyindex/Dockerfile"
          registry: docker.io
          buildArgs: |
            tag_ref_name=${{ env.RELEASE_VERSION }}
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
